/* You can add global styles to this file, and also import other style files */
@import '~src/scss/variables';

.btn-primary,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #FFF;
}

.pointer {
    cursor: pointer;
}

.btn-light-text,
.btn-light-text:active,
.btn-light-text:not(:disabled):not(.disabled):active,
.btn-light-text:focus,
.btn-light-text.focus,
.btn-light-text:hover {
    color: $primary-color;
}
html, body {
    background-color: $bg-color;
}